version: '3.7'
services:
  app:
    container_name: textsite_app
    build:
      context: ./docker/php.prod
    restart: unless-stopped
    volumes:
      - .:/var/www:delegated
    working_dir: /var/www
    ports:
      - "9005:9000"
    networks:
      - net
networks:
  net:
    driver: "bridge"
